<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta charset="utf-8">
<title>News App</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<style>
    div.scrollmenu {
      /* background-color: #333; */
      overflow: auto;
      white-space: nowrap;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }

    div.scrollmenu:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* div.scrollmenu a {
      display: inline-block;
      color: white;
      text-decoration: none;
    } */
    div.scrollmenu a {
      display: inline-block;
      /* color: white; */
      /* text-align: center; */
      /* padding: 14px; */
      text-decoration: none;
      vertical-align: top;
      color: grey;
    }

    /* div.scrollmenu a:hover {
      background-color: #777;
    } */
    /* .ellipse{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .ellipse:hover{
      overflow: visible;
      color: blue;

    } */
.ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  /* line-height: 1rem; */
  pointer-events:none;
}

.ellipse:after {
  content:"";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  z-index: 1;
  pointer-events:initial;
}

.ellipse:hover:after{
  cursor: pointer;
  visibility: visible;
}

.tooltip {
  width: 45%;
  visibility: hidden;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 5px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.5s ease;
}


.ellipse:hover + .tooltip {
  visibility: visible;
  transition: opacity 0.5s ease;
  opacity: 1;
}
.tooltip{
    display: none !important;
}
.custom-link{
  text-decoration: none;
}
.w3-button:hover {
  text-decoration: none;
}
.w3-container, .w3-panel {
    padding: 0px !important;
}
.loader-img{
  height: 125px;
  margin-left: 30%;
}
.hints-item{
  padding: 10px 12px !important; margin-right:5px; border-radius: 5px; background-color: white;
}
.custom-search-hints-layout{box-shadow: 0 -1px 0px 0px rgba(0,0,0,0.2) !important}
.news-block{border-bottom: 10px solid gainsboro;}
.glyphicon-play-circle{color: grey !important;}
h5{color: grey; margin-top: 20px;}
.container-fluid{padding-left: 5px !important; padding-right: 5px !important;}
body{position: static !important;}
select{outline: none !important; border: none;}
.google_translate_element{text-align: center; position: relative; top: 4px; height: 20px !important; overflow: hidden;}

</style>

<script>
  var socket = io();
</script>
<body ng-app="nearByApi" ng-controller="nearByApiController">

<!-- Sidebar -->


<div class="w3-sidebar w3-bar-block w3-dark-grey w3-animate-left" style="display:none; z-index: 99; background-color: grey !important; color: white !important; font-weight: 700;" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-button w3-large">Close &times;</button>

  <a href="#" onclick="onClickSideMenu('repository')" class="w3-bar-item w3-button custom-link">Open Source Repository</a>
  <a href="#" onclick="onClickSideMenu('platforms')" class="w3-bar-item w3-button custom-link">Open Source Platforms</a>
  <a href="#" onclick="onClickSideMenu('projectDepandants')" class="w3-bar-item w3-button custom-link">Open Source Project Depandants</a>
  <a href="#" onclick="onClickSideMenu('npmLibraries')" class="w3-bar-item w3-button custom-link">Open Source NPM Libraries</a>

</div>


<!-- Page Content -->
  <div class="w3-teal" style="background-color: white!important;">
    <div id="searchInputBlock" class="" style="border-bottom: 1px solid #ccc;">
      <span style="width: 10%;">
        <span>
          <button id="menuIcon" class="w3-button w3-xlarge" style="color: grey; background-color: white; padding: 3px 16px;" onclick="w3_open()">
            ☰
          </button>
        </span>
        <span>
          <button id="searchBackIcon" class="w3-button w3-xlarge" style="display: none; color: grey; background-color: white; padding: 3px 16px;" onclick="onClickSearchBackBtn()">
            <span class="glyphicon glyphicon-menu-left"></span>
            <!-- <span><i class="fad fa-chevron-left"></i></span> -->
          </button>
        </span>
      </span>
      <span style="width: 80%; top: 0px; display: inline-block; margin-left: -14px;">
        <span id="searchIcon" style="display: block; color: grey; position: absolute; top: 13px; padding-left: 4px;" class="glyphicon glyphicon-search"></span>
        <!-- <input type="text" id="searchPersonalizedNews" placeholder="Search personalized news..." > -->
        <span style=""><div id="google_translate_element" style="display: none; text-align: center; position: relative; height: 20px; overflow: hidden; top: 4px;"></div></span>
        <!--  onclick="onClickPersonalizedSearch()" ng-model="query" ng-keypress='sendMsgByEnter($event, query, "enter")' ng-keydown='onClickBackSpace($event, query)' -->
        <input type="text" id="searchPersonalizedNews"  onclick="onClickPersonalizedSearch()"  onclick="onClickPersonalizedSearch()" ng-model="query" ng-keypress='sendMsgByEnter($event, query, "enter")' ng-keydown='onClickBackSpace($event, query)' placeholder="Search news by keywords..." name=""  style="color: grey; padding-left: 16px; width: 100%;padding: 10px;border: none; outline: none !important; padding-left: 30px;">
        <!-- <i class="material-icons" style="color:grey;"></i> -->
        <span id="languageIcon" onclick="onClickLanguageIcon()" style="display: block; font-size: 16px; color: grey; position: absolute; right: 40px; top: 12px;" class="glyphicon glyphicon-globe"></span>
        <span id="microphoneIcon" onclick="onClickMicrophoneIcon()" style="color: grey; position: absolute; top: 8px; font-size: 24px; right: 8px;" class="glyphicon glyphicon-volume-down"></span>
      </span>

    </div>
    <div class="customSearchSources">
      <div id="customSearchOptions" class="scrollmenu custom-search-hints-layout" id="" style="display: none;">
      </div>
    </div>
    <div class="w3-container" id="appHeadliesBlock" style="background-color: white!important; text-align: center; color: grey;">
      <div class="">
        <h1 id="appHeadliesTitle">News Headlines</h1>
      </div>
    </div>
  </div>

  <div class="w3-container" >

    <div class="topNewsContentsBlock" id="topNewsContentsBlock">

        <div class="news-block" id="topBusinessNewsBlock">

            <!-- ======================================================================= -->

            <div class="popularGoogleLibrariesNewsBlock news-block" id="popularGoogleLibrariesNewsBlock" style="margin-bottom: 16px;">
                <center><h5 style="text-align: center; font-weight: 900;">Popular Google Libraries</h5></center>
                <div class="" id="popularGoogleLibrariesNewsLoaderBlock" >
                  <img class="loader-img" src="static/images/pleaseWait1.gif"  alt="">
                </div>
                <div id="popularGoogleLibrariesNewsTemplate" class="container-fluid scrollmenu" style="margin-top: 12px;" ></div>
            </div>


            <div class="depandantRepositoryNewsBlock news-block" id="depandantRepositoryNewsBlock" style="margin-bottom: 16px;">
                <center><h5 style="text-align: center; font-weight: 900;">OPEN SOURCE NPM DEPANDANTS REPOSITORY</h5></center>
                <!-- <div class="" style="margin-left: 16px; margin-bottom: 32px;">
                    <span onclick="onClickOneMinuteNewsPodcasts('nasa')" style="float: left; font-size: 45px; margin-right: 12px;" class="glyphicon glyphicon-play-circle"></span>
                    <span style="position: relative;top: 13px;color: #616161;">HEADLINES IN A MINUTE </span>
                </div> -->
                <div class="" id="depandantRepositoryNewsLoaderBlock" >
                  <img class="loader-img" src="static/images/pleaseWait1.gif"  alt="">
                </div>
                <div id="depandantRepositoryNewsTemplate" class="container-fluid scrollmenu" style="margin-top: 12px;" >

                </div>
            </div>

            <div class="openSourcePlatformsBlock news-block" id="openSourcePlatformsNewsBlock" style="margin-bottom: 16px;">
                <center><h5 style="text-align: center; font-weight: 900;">OPEN SOURCE NPM PLATFORMS </h5></center>
                <!-- <div class="" style="margin-left: 16px; margin-bottom: 32px;">
                    <span onclick="onClickOneMinuteNewsPodcasts('nasa')" style="float: left; font-size: 45px; margin-right: 12px;" class="glyphicon glyphicon-play-circle"></span>
                    <span style="position: relative;top: 13px;color: #616161;">HEADLINES IN A MINUTE </span>
                </div> -->
                <div class="" id="openSourcePlatformsLoaderBlock" >
                  <img class="loader-img" src="static/images/pleaseWait1.gif"  alt="">
                </div>
                <div id="openSourcePlatformsTemplate" class="container-fluid scrollmenu" style="margin-top: 12px;" >

                </div>
            </div>


            <div class="openSourceProjectDepandantsBlock news-block" id="openSourceProjectDepandantsBlock" style="margin-bottom: 16px;">
                <center><h5 style="text-align: center; font-weight: 900;">OPEN SOURCE NPM PROJECTS</h5></center>
                <!-- <div class="" style="margin-left: 16px; margin-bottom: 32px;">
                    <span onclick="onClickOneMinuteNewsPodcasts('nasa')" style="float: left; font-size: 45px; margin-right: 12px;" class="glyphicon glyphicon-play-circle"></span>
                    <span style="position: relative;top: 13px;color: #616161;">HEADLINES IN A MINUTE </span>
                </div> -->
                <div class="" id="openSourceProjectDepandantsLoaderBlock" >
                  <img class="loader-img" src="static/images/pleaseWait1.gif"  alt="">
                </div>
                <div id="openSourceProjectDepandantsTemplate" class="container-fluid scrollmenu" style="margin-top: 12px;" >

                </div>
            </div>

            <div class="openSourceNpmLibrariesBlock news-block" id="openSourceNpmLibrariesBlock" style="margin-bottom: 16px;">
                <center><h5 style="text-align: center; font-weight: 900;">OPEN SOURCE NPM LIBRARIES</h5></center>
                <!-- <div class="" style="margin-left: 16px; margin-bottom: 32px;">
                    <span onclick="onClickOneMinuteNewsPodcasts('nasa')" style="float: left; font-size: 45px; margin-right: 12px;" class="glyphicon glyphicon-play-circle"></span>
                    <span style="position: relative;top: 13px;color: #616161;">HEADLINES IN A MINUTE </span>
                </div> -->
                <div class="" id="openSourceNpmLibrariesLoaderBlock" >
                  <img class="loader-img" src="static/images/pleaseWait1.gif"  alt="">
                </div>
                <div id="openSourceNpmLibrariesTemplate" class="container-fluid scrollmenu" style="margin-top: 12px;" >

                </div>
            </div>




        </div>

    <!-- ================================================= START: SINGLE PAGES ============================================================== -->


    <div class="repositoryVerticalMainBlock news-block" id="repositoryVerticalMainBlock" style="display:none; background: gainsboro; margin-top: -12px;">
        <!-- <center><h5 style="text-align: center; font-weight: 900;">TOP SPORTS NEWS</h5></center> -->
        <div class="" id="repositoryVerticalLoaderBlock">
          <img class="loader-img" src="static/images/pleaseWait1.gif"  alt="">
        </div>
        <div id="repositoryVerticalTemplateBlock" class=""></div>
    </div>

    <div class="npmLibrariesVerticalMainBlock news-block" id="npmLibrariesVerticalMainBlock" style="display:none; background: gainsboro; margin-top: -12px;">
        <!-- <center><h5 style="text-align: center; font-weight: 900;">TOP SPORTS NEWS</h5></center> -->
        <div class="" id="npmLibrariesVerticalLoaderBlock">
          <img class="loader-img" src="static/images/pleaseWait1.gif"  alt="">
        </div>
        <div id="npmLibrariesVerticalTemplateBlock" class=""></div>
    </div>

    <div class="platformsVerticalMainBlock news-block" id="platformsVerticalMainBlock" style="display:none; background: gainsboro; margin-top: -12px;">
        <!-- <center><h5 style="text-align: center; font-weight: 900;">TOP SPORTS NEWS</h5></center> -->
        <div class="" id="platformsVerticalLoaderBlock">
          <img class="loader-img" src="static/images/pleaseWait1.gif"  alt="">
        </div>
        <div id="platformsVerticalTemplateBlock" class=""></div>
    </div>

    <div class="projectDepandantsVerticalMainBlock news-block" id="projectDepandantsVerticalMainBlock" style="display:none; background: gainsboro; margin-top: -12px;">
        <!-- <center><h5 style="text-align: center; font-weight: 900;">TOP SPORTS NEWS</h5></center> -->
        <div class="" id="projectDepandantsVerticalLoaderBlock">
          <img class="loader-img" src="static/images/pleaseWait1.gif"  alt="">
        </div>
        <div id="projectDepandantsVerticalTemplateBlock" class=""></div>
    </div>

    <!-- ================================================== START: SINGLE PAGES ============================================================= -->

    <div class="searchContentsBlock" id="searchContentsBlock" style="display:none;">
      <div class="" id="">
        <div id="hintsBlock" class="row hints-block" style="margin-left: 0px; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; padding-top: 10px;" >
          <div class="">
            <label style="margin-left: 16px; color: grey;" for="sel1">RECENT SEARCHES</label>
          </div>

           <div class="scrollmenu custom-search-hints-layout" id="" style="">
               <a ng-repeat="txt in serachQariesList" ng-click="onClickHelpInfoItems(txt)" href="#" class="hints-item">{{txt}}</a>
           </div>
           <div class="" id="searchContentLoaderBlock" style="display: block;">
             <img class="loader-img" src="static/images/pleaseWait1.gif"  alt="">
           </div>
           <div id="searchContentTemplateBlock" class="container-fluid" style="margin-top: 12px;">

           </div>
        </div>
      </div>
    </div>


</div>


<!-- The Modal -->
<div class="modal" id="URLModal">
  <div class="modal-dialog" style="margin-top: 50%;">
    <div class="modal-content" style="">

      <!-- Modal Header -->
      <div class="modal-header" style="border: none; padding-bottom: 5px !important; ">
        <!-- <h4 class="modal-title">Modal Heading</h4> -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="padding: 5px; padding-left: 20px;padding-right: 20px;">
          <iframe id="urlIframe" src="" style="border: none; width: 100%; height: 100%;"></iframe>
          <div id="modalContent" style="text-align: center; color: gray; font-weight: bold;">

          </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="border: none;">
        <!-- <center> <button type="button" class="btn btn-danger" style="width: 100%;" data-dismiss="modal">Close</button> <center> -->
      </div>

    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="threeDotsActionModal">
  <div class="modal-dialog" style="position: absolute; bottom: 0px; width: 100%; margin: 0px;">
    <div class="modal-content" style="">

      <!-- Modal Header -->
      <div class="modal-header" style="border: none; padding-bottom: 5px !important; ">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="padding: 5px; padding-left: 20px;padding-right: 20px; height: 300px; text-align: center;">
          <h4 class="modal-title">THREE DOTS ACTION</h4>
          <h1 class="modal-title">Comming soon...</h1>

          <div id="threeDotsActionModalContent" style="text-align: center; color: gray; font-weight: bold;">

          </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="border: none;">
        <!-- <center> <button type="button" class="btn btn-danger" style="width: 100%;" data-dismiss="modal">Close</button> <center> -->
      </div>

    </div>
  </div>
</div>



<script>
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
  }
</script>


<script type="text/javascript">
  var app = angular.module('nearByApi', []);
  var modalState = null;
  var defaultNewsSourceCountry = 'in';
  let currentBlockId = 'topBusinessNewsBlock';
  var serachQariesList = ['react','angular','nodejs','brainjs'];
  var currentSearchSource = 'news_source';
  var currentCustomSearchSource = 'Libraries';
  let searchOptionsList = ['Libraries', 'NPM', 'Wikipedia', "Github"];
  let is

  function hScroll(hScrollBody){
      return '<div class="scrollmenu">'+hScrollBody+'</div>';
  }

  function createSearchOptionsList(id, list, defaultItem){

      let template = '';
      let equalWidth = (100 / list.length);
      equalWidth = equalWidth+'%;';
      console.log("equal width : ", equalWidth);
      list.forEach((item, i) => {
        console.log("index : ", i);
        if(i === 0){
          template += '<a id="'+item+'" onclick="onClicCustomSearchSources(\'' + item + '\',)" href="#" class="hints-item " style="width: '+equalWidth+'color: orange; text-align: center; border-bottom: 2px solid orange; padding: 8px 12px; border-radius: 0px;">'+item+'</a>';
        }else{
          template += '<a id="'+item+'" onclick="onClicCustomSearchSources(\'' + item + '\',)" href="#" class="hints-item " style="width: '+equalWidth+'color: grey; text-align: center; padding: 8px 12px; border-radius: 0px;">'+item+'</a>';
        }
      });
      document.getElementById(id).innerHTML = template;
      document.getElementById(id).style.display = "none;";
      console.log("defaultItem : ", defaultItem);
  }

  function onClicCustomSearchSources(item){
      console.log("== onclick custom search sources == ");
      console.log("item : ", item);
      document.getElementById(currentCustomSearchSource).style.color = "grey";
      document.getElementById(currentCustomSearchSource).style.borderBottom = "none";
      currentCustomSearchSource = item;
      document.getElementById(currentCustomSearchSource).style.color = "orange";
      document.getElementById(currentCustomSearchSource).style.borderBottom = "3px solid orange";
  }

  function initializeAppFeatures(){
    console.log("== initialize app features ==");


    socket.emit("open-source-api-request", {from: 'Api', apiRef: 'libraries_api', category: "popular_brand_libraries", resposeTeplateId: 'popularGoogleLibrariesNewsTemplate', loaderId: 'popularGoogleLibrariesNewsLoaderBlock', brand: 'google'});

    socket.emit("open-source-api-request", {from: 'Api', apiRef: 'libraries_api', category: "open_source_depandants_repository", resposeTeplateId: 'depandantRepositoryNewsTemplate', loaderId: 'depandantRepositoryNewsLoaderBlock'});

    socket.emit("open-source-api-request", {from: 'Api', apiRef: 'libraries_api', category: "open_source_npm_platforms", resposeTeplateId: 'openSourcePlatformsTemplate', loaderId: 'openSourcePlatformsLoaderBlock'});

    socket.emit("open-source-api-request", {from: 'Api', apiRef: 'libraries_api', category: "open_source_project_depandants", resposeTeplateId: 'openSourceProjectDepandantsTemplate', loaderId: 'openSourceProjectDepandantsLoaderBlock'});

    socket.emit("open-source-api-request", {from: 'Api', apiRef: 'libraries_api', category: "open_source_npm_libraries", resposeTeplateId: 'openSourceNpmLibrariesTemplate', loaderId: 'openSourceNpmLibrariesLoaderBlock'});

    createSearchOptionsList("customSearchOptions", searchOptionsList, searchOptionsList[0]);
  }

  initializeAppFeatures();
  socket.on('open-source-api-response', function(data){
      let loaderId = data.loaderId;
      let blockId = data.resposeTeplateId;
      // console.log("@@data: ", data);
      console.log("@@blockId: ", blockId);
      console.log("@@loaderId: ", loaderId);
      if(loaderId !== null && loaderId !== undefined){
        if(document.getElementById(loaderId) !== null && document.getElementById(blockId) !== null){
          document.getElementById(loaderId).style.display = "none";
          document.getElementById(blockId).style.display = "block";
        }
        document.getElementById(blockId).innerHTML = '';
        document.getElementById(blockId).innerHTML = data.returnMsg;
      }
  });


  socket.on("response-one-minute-news-podcasts", function(data){
      console.log("===  calling response-one-minute-news-podcasts === ");
      oneMinutePodcasts(data.podcastData);
  });



  var textToSpeechSetUpObject = {};
  function oneMinutePodcasts(textToSpeech){
    console.log("==== callig textToSpeech fn ====");
    // console.log("txt : ", textToSpeech);
    let synth = window.speechSynthesis;
    if(textToSpeech !== null && textToSpeech !== undefined && textToSpeech.length > 0 ){
        for (let i = 0; i < textToSpeech.length; i++) {
            let msg = new SpeechSynthesisUtterance();
            if(textToSpeechSetUpObject.volume !== null && textToSpeechSetUpObject.volume !== undefined){
              msg.volume = textToSpeechSetUpObject.volume;
            }
            if(textToSpeechSetUpObject.rate !== null && textToSpeechSetUpObject.rate !== undefined){
              msg.rate = textToSpeechSetUpObject.rate;
            }
            if(textToSpeechSetUpObject.pitch !== null && textToSpeechSetUpObject.pitch !== undefined){
              msg.pitch = textToSpeechSetUpObject.pitch;
            }
            let voices = null;
            if(i % 2 === 0){
                 voices = synth.getVoices();

                 msg.voice = voices[3];
                 console.log("x : ", JSON.stringify(msg.voice));

            }else{
                 voices = synth.getVoices();
                 msg.voice = voices[5];

            }
            msg.text = textToSpeech[i];
            window.speechSynthesis.speak(msg);

        }
    }
    msg.onerror = function(event) {
        console.log("== calling msg.onerror function ==");
        window.speechSynthesis.end();
        console.log('An error has occurred with the speech synthesis: ' + event.error);
    }
    msg.onstart = function(event) {
        console.log("== calling msg.onstart function ==");
        // window.speechSynthesis.end();
    }
    msg.onend = function(event) {
        console.log("== calling msg.end function ==");
    }

  }

  function onClickOneMinuteNewsPodcasts(newsCategory){
      console.log("==== onclick onClickOneMinuteNewsPodcasts : ", onClickOneMinuteNewsPodcasts);
      console.log("==== newsCategory : ", newsCategory);
      socket.emit("request-one-minute-news-podcasts", {from: 'Api',  category: newsCategory, country: defaultNewsSourceCountry });
  }
  // 9836863092
  function onClickSideMenu(argument){
      console.log("=== on click side menu fun ===");
      console.log("=== argument: ", argument);
      document.getElementById(currentBlockId).style.display = "none";
      let dynamicBlockId = argument+'VerticalMainBlock';
      let dynamicLoaderId = argument+'VerticalLoaderBlock';
      let dynamicTemplateId = argument+'VerticalTemplateBlock';
      currentBlockId = dynamicBlockId;
      document.getElementById(dynamicBlockId).style.display = "block";
      document.getElementById("mySidebar").style.display = "none";

      if(argument === 'repository'){
        document.getElementById("appHeadliesTitle").innerHTML = 'Open Source Repositories';
        socket.emit("open-source-api-request", {from: 'Api', apiRef: 'libraries_api', category: "open_source_depandants_repository", resposeTeplateId: dynamicTemplateId, loaderId: dynamicLoaderId, scrollType: 'vertical'});
      }else if(argument === 'platforms'){
        document.getElementById("appHeadliesTitle").innerHTML = 'Open Source Platforms';
        socket.emit("open-source-api-request", {from: 'Api', apiRef: 'libraries_api', category: "open_source_npm_platforms", resposeTeplateId: dynamicTemplateId, loaderId: dynamicLoaderId, scrollType: 'vertical'});
      }else if(argument === "projectDepandants"){
        document.getElementById("appHeadliesTitle").innerHTML = 'Open Project Depandants';
        socket.emit("open-source-api-request", {from: 'Api', apiRef: 'libraries_api', category: "open_source_project_depandants", resposeTeplateId: dynamicTemplateId, loaderId: dynamicLoaderId, scrollType: 'vertical'});
      }else if(argument === "npmLibraries"){
        document.getElementById("appHeadliesTitle").innerHTML = 'Open Source NPM Libraries';
        socket.emit("open-source-api-request", {from: 'Api', apiRef: 'libraries_api', category: "open_source_npm_libraries", resposeTeplateId: dynamicTemplateId, loaderId: dynamicLoaderId, scrollType: 'vertical'});

        // socket.emit("open-source-api-request", {from: 'Api', apiRef: 'libraries_api', category: "open_source_npm_libraries", resposeTeplateId: 'openSourceNpmLibrariesTemplate', loaderId: 'openSourceNpmLibrariesLoaderBlock'});
      }

  }

  var isLanguageActive = false;
  function onClickLanguageIcon(){
      console.log("==== calling language icon ====");
      if(isLanguageActive){
          isLanguageActive = false;
          document.getElementById("searchIcon").style.display = "block";
          document.getElementById("searchPersonalizedNews").style.display = "block";
          document.getElementById("languageIcon").style.color = "grey";
          document.getElementById("google_translate_element").style.display = "none";
      }else{
        isLanguageActive = true;
        document.getElementById("google_translate_element").style.display = "block";
        document.getElementById("searchIcon").style.display = "none";
        document.getElementById("searchPersonalizedNews").style.display = "none";
        document.getElementById("languageIcon").style.color = "orange";
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');

        setTimeout(function(){
          console.log("%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%");
          document.querySelector(".goog-te-combo").style.width = "90% !important";
          document.querySelector(".goog-te-combo").style.border = "none";
          document.querySelector(".goog-te-combo").style.color = "orange !important";
          document.querySelector(".goog-te-combo").style.fontWeight = "600";
          document.querySelector(".goog-logo-link").style.display = "none";
          document.querySelector(".goog-te-banner-frame").style.display = "none";
          document.getElementById("goog-gt-tt").style.display = "none !important";
          document.querySelector(".skiptranslate").style.color = "white !important";
          document.querySelector(".goog-te-gadget").style.color = "white !important";


        }, 700);


      }


  }

  function onClickMicrophoneIcon(){
      console.log("==== calling microphone icon ====");

  }

  function onClickPersonalizedSearch(){
      console.log("== on click onClickPersonalizedSearch fun ==");
      // if(){
        document.getElementById("searchPersonalizedNews").focus();
        document.getElementById(currentBlockId).style.display = "none";
        document.getElementById("searchContentsBlock").style.display = "block";
        document.getElementById("menuIcon").style.display = "none";
        document.getElementById("searchBackIcon").style.display = "inline-block";
        document.getElementById("customSearchOptions").style.display = "block";

        currentBlockId = "searchContentsBlock";
        let helpInfoTxt = serachQariesList[0];
        console.log("helpInfoTxt: ", helpInfoTxt);
        socket.emit("open-source-api-request", {from: 'Api', resposeTeplateId: 'searchContentTemplateBlock', loaderId: 'searchContentLoaderBlock', searchQuery: helpInfoTxt, category: 'customSearch', currentCustomSearchSource: currentCustomSearchSource, country: defaultNewsSourceCountry, scrollType: 'vertical'});

      // }

  }

  function onClickSearchBackBtn(){
      console.log("== on click onClickSearchBackBtn ==");
      document.getElementById(currentBlockId).style.display = "none";
      document.getElementById("topBusinessNewsBlock").style.display = "block";
      document.getElementById("menuIcon").style.display = "inline-block";
      document.getElementById("searchBackIcon").style.display = "none";
      document.getElementById("customSearchOptions").style.display = "none";
      currentBlockId = "topBusinessNewsBlock";
      document.getElementById("topBusinessNewsBlock").style.display = 'block';
  }





  app.controller('nearByApiController', function($scope){

    function onClickSideMenu(argument){
        console.log("=== on click side menu fun ===");
        // console.log("=== argument: ", argument);
    }

    $scope.onClickHelpInfoItems = function(helpInfoTxt){
      console.log("help txt : ", helpInfoTxt);
      // document.getElementById("searchResultsContentsLoaderBlock").style.display = "block";
      // document.getElementById("searchResultsBlock").style.display = "block";
      document.getElementById("searchPersonalizedNews").value = "";
      document.getElementById("searchContentTemplateBlock").innerHTML = '';
      socket.emit("open-source-api-request", {from: 'Api', resposeTeplateId: 'searchContentTemplateBlock', loaderId: 'searchContentLoaderBlock', searchQuery: helpInfoTxt, category: 'customSearch', country: defaultNewsSourceCountry, scroll: 'vertical'});

      // socket.emit("news-api-request", {from: 'Api', resposeTeplateId: 'searchContentTemplateBlock', loaderId: 'searchContentLoaderBlock', searchQuery: helpInfoTxt, category: 'customSearch', country: defaultNewsSourceCountry, scroll: 'vertical'});
    }

    $scope.serachQariesList = ['react','angular','nodejs','brainjs'];

    $scope.searchPersonalizedNews = function(){
        let queryMsg = document.getElementById("searchPersonalizedNews").value;
        console.log("search value : ", queryMsg);
        queryMsg = queryMsg.replace(/\s\s+/g, ' ');
        if($scope.serachQariesList.indexOf(queryMsg) === -1){
            $scope.serachQariesList.unshift(queryMsg);
            window.serachQariesList.unshift(queryMsg);
            console.log("@@@ serachQariesList : ", window.serachQariesList);
        }
        document.getElementById("searchResultsContentsLoaderBlock").style.display = "block";
        document.getElementById("searchResultsBlock").style.display = "block";
        document.getElementById("searchPersonalizedNews").value = "";
        document.getElementById("searchResultsContentsTemplate").innerHTML = '';
        // if(currentSearchSource !== 'wikipedia'){
        //     socket.emit("news-api-request", {from: 'Api', resposeTeplateId: 'searchResultsContentsTemplate', loaderId: 'searchResultsContentsLoaderBlock', searchQuery: queryMsg, category: 'customSearch', country: defaultNewsSourceCountry, scroll: 'vertical'});
        // }else{
        //     console.log("==== callingf wikipedia search news ====");
        //     socket.emit("news-api-request", {from: 'Api', resposeTeplateId: 'searchResultsContentsTemplate', loaderId: 'searchResultsContentsLoaderBlock', searchQuery: query, filterBy: "wikipedia_search", category: 'news_by_filter', scroll: 'vertical'});
        // }
        // socket.emit("news-api-request", {from: 'Api', resposeTeplateId: 'searchResultsContentsTemplate', loaderId: 'searchResultsContentsLoaderBlock', searchQuery: queryMsg, category: 'customSearch', country: defaultNewsSourceCountry, scroll: 'vertical'});
    }

    $scope.sendMsgByEnter = function(keyEvent, queryMsg, source){
          console.log("=== call send msg by enter ===");
         if (keyEvent.which === 13 || source === "send"){
                 queryMsg = queryMsg.replace(/\s\s+/g, ' ');
                 if($scope.serachQariesList.indexOf(queryMsg) === -1){
                     $scope.serachQariesList.unshift(queryMsg);
                     window.serachQariesList.unshift(queryMsg);
                 }
                 // document.getElementById("searchResultsContentsLoaderBlock").style.display = "block";
                 // document.getElementById("searchResultsBlock").style.display = "block";
                 document.getElementById("searchPersonalizedNews").value = "";
                 document.getElementById("searchContentTemplateBlock").innerHTML = '';
                 console.log("@@@@ queryMsg : ", queryMsg);
                 // if(currentCustomSearchSources === "Libraries")
                 socket.emit("open-source-api-request", {from: 'Api', resposeTeplateId: 'searchContentTemplateBlock', loaderId: 'searchContentLoaderBlock', searchQuery: queryMsg, category: 'customSearch', currentCustomSearchSource: currentCustomSearchSource, country: defaultNewsSourceCountry, scrollType: 'vertical'});

                 // if(currentSearchSource !== 'wikipedia'){
                 //    socket.emit("news-api-request", {from: 'Api', resposeTeplateId: 'searchContentTemplateBlock', loaderId: 'searchContentLoaderBlock', searchQuery: queryMsg, category: 'customSearch', country: defaultNewsSourceCountry, scroll: 'vertical'});
                 // }else{
                 //     console.log("==== callingf wikipedia search news ====");
                 //     // let query = document.getElementById("searchPersonalizedNews").value;
                 //     // console.log("%%% query : ", query);
                 //     document.getElementById("searchPersonalizedNews").value = '';
                 //     document.getElementById("searchPersonalizedNews").style.backgroundColor = "white";
                 //     document.getElementById("searchPersonalizedNews").placeholder = 'Search news by keywords...';
                 //
                 //     socket.emit("news-api-request", {from: 'Api', resposeTeplateId: 'searchResultsContentsTemplate', loaderId: 'searchResultsContentsLoaderBlock', searchQuery: queryMsg, filterBy: "wikipedia_search", category: 'news_by_filter', scroll: 'vertical'});
                 // }
         }

    }

    // ==== ON BACKSPACE :  enable diseable mike or send icon ====
    $scope.onClickBackSpace = function(keyEvent, queryMsg){
      console.log("============ on click  onClickBackSpacebutton action ==============");

      // if (keyEvent.which === 8){
      //     queryMsg = queryMsg.replace(/\s\s+/g, ' ');
      //     document.getElementById("searchResultsBlock").style.display = "block";
      //     document.getElementById("searchPersonalizedNews").value = "";
      //     if(document.getElementById("searchPersonalizedNews") !== null && undefined){
      //        document.getElementById("searchPersonalizedNews").innerHTML = '';
      //     }
      //     socket.emit("news-api-request", {from: 'Api', resposeTeplateId: 'searchResultsContentsTemplate', loaderId: 'searchResultsContentsLoaderBlock', searchQuery: queryMsg, category: 'customSearch', country: defaultNewsSourceCountry, scroll: 'vertical'});
      // }
    }

    window.onClickButtonAction = function(bookIsbn, bookTitle, bookImg, api){
      console.log("============ on click onClickButtonAction button action ==============");
      // console.log("isbn: ", bookIsbn);
      // console.log("title: ", bookTitle);
      // console.log("bookImg : ", bookImg);
      // console.log("@@@@ api : ", onClickButtonAction);
      if(bookTitle === "HACKER-NEWS:topstories"){

      }else{
        client.emit("add-book-to-shelf",{from: 'Gini', bookIsbn: bookIsbn, bookTitle: bookTitle, bookImg:bookImg, api: api});
      }
    }

    function textToSpeech(txt){
      // console.log("==== callig textToSpeech fn ====");
      let msg = new SpeechSynthesisUtterance();
      let synth = window.speechSynthesis;
      if(textToSpeechSetUpObject.volume !== null && textToSpeechSetUpObject.volume !== undefined){
        msg.volume = textToSpeechSetUpObject.volume;
      }
      if(textToSpeechSetUpObject.rate !== null && textToSpeechSetUpObject.rate !== undefined){
        msg.rate = textToSpeechSetUpObject.rate;
      }
      if(textToSpeechSetUpObject.pitch !== null && textToSpeechSetUpObject.pitch !== undefined){
        msg.pitch = textToSpeechSetUpObject.pitch;
      }
      if(textToSpeechSetUpObject.voice !== null && textToSpeechSetUpObject.voice !== undefined){
        msg.voice = speechSynthesis.getVoices().filter(function(voice) { return voice.name === textToSpeechSetUpObject.voice; })[0];
      }else{
        let voices = synth.getVoices();
        msg.voice = voices[4];
      }
      msg.text = txt;
      window.speechSynthesis.resume();
      window.speechSynthesis.speak(msg);
    }

    window.onOpenModal = function(url, type){
        console.log("==== call open modal function ====");
        // console.log("== href value :: ", url);
        // console.log("== type value :: ", type);
        let dynId = '';
        let playId = '';
        let pauseId = '';
        if(type === 'newWindow'){
          window.open(url);
        }if(type === 'textToSpeech'){
          // console.log("============== textToSpeech ==============");
          dynId = url.replace(/\s/g, '');
          dynId = dynId.replace(/-/g, '');
          dynId = dynId.replace(/,/g, '');
          playId = 'play:'+dynId;
          pauseId = 'pause:'+dynId;
          // console.log("play id : ", playId);
          // console.log("play id : ", pauseId);
          // window.speechSynthesis.resume();

          textToSpeech(url);
          // document.getElementById(playId).style.display = "none";
          // document.getElementById(pauseId).style.display = "block";
        }else if(type === 'textToPause'){
          // console.log("== href value :: ", url);
          // console.log("== type value :: ", type);
          dynId = url.replace(/\s/g, '');
          dynId = dynId.replace(/-/g, '');
          dynId = dynId.replace(/,/g, '');
          playId = 'play:'+dynId;
          pauseId = 'pause:'+dynId;
          window.speechSynthesis.pause();
          // document.getElementById(pauseId).style.display = "none";
          // document.getElementById(playId).style.display = "block";
        }else if(type === 'openModalWithContent'){
          modalState = type;
          socket.emit("open-modal-with-content-request", {url : url});
        }else{
          document.getElementById("urlIframe").style.display = "none";
          document.getElementById("modalContent").innerHTML = url;
          $("#URLModal").modal();
        }

    }

    window.onOpenThreeDotsActionModal = function(){
        // console.log("@@@@@@@@@ oclick onOpenThreeDotsActionModal @@@@@@@@@@");
        document.getElementById("threeDotsActionModalContent").innerHTML = '';
        $("#threeDotsActionModal").modal();
    }

    window.getNewsByCustomFilter = function(filterName, api){
       console.log("call get products by id : ", filterName);
       console.log("call get products by api : ", api);
       if(api === "NEWSAPI:country"){
           document.getElementById("searchResultsContentsLoaderBlock").style.display = "block";
           document.getElementById("searchResultsBlock").style.display = "block";
           document.getElementById("searchPersonalizedNews").value = "";
           document.getElementById("searchResultsContentsTemplate").innerHTML = '';
           socket.emit("news-api-request", {from: 'Api', resposeTeplateId: 'searchResultsContentsTemplate', loaderId: 'searchResultsContentsLoaderBlock', searchQuery: filterName, filterBy: api, category: 'news_by_filter', scroll: 'vertical'});
       }else if(api === "NEWSAPI:language"){
           document.getElementById("searchResultsContentsLoaderBlock").style.display = "block";
           document.getElementById("searchResultsBlock").style.display = "block";
           document.getElementById("searchPersonalizedNews").value = "";
           document.getElementById("searchResultsContentsTemplate").innerHTML = '';
           socket.emit("news-api-request", {from: 'Api', resposeTeplateId: 'searchResultsContentsTemplate', loaderId: 'searchResultsContentsLoaderBlock', searchQuery: filterName, filterBy: api, category: 'news_by_filter', scroll: 'vertical'});
       }else if(api === "NEWSAPI:newsByCategory"){
           document.getElementById("searchResultsContentsLoaderBlock").style.display = "block";
           document.getElementById("searchResultsBlock").style.display = "block";
           document.getElementById("searchPersonalizedNews").value = "";
           document.getElementById("searchResultsContentsTemplate").innerHTML = '';
           socket.emit("news-api-request", {from: 'Api', resposeTeplateId: 'searchResultsContentsTemplate', loaderId: 'searchResultsContentsLoaderBlock', searchQuery: filterName, filterBy: api, category: 'news_by_filter', scroll: 'vertical'});
       }else if(api === "NEWSAPI:newsBySource"){
           filterName = filterName.replace(/ /g,'-');
           console.log("@@@ filtername : ", filterName);
           if(filterName.indexOf('(') !== -1){
             filterName = filterName.replace('(','');
           }
           if(filterName.indexOf(')') !== -1){
             filterName = filterName.replace(')','');
           }
           document.getElementById("searchResultsContentsLoaderBlock").style.display = "block";
           document.getElementById("searchResultsBlock").style.display = "block";
           document.getElementById("searchPersonalizedNews").value = "";
           document.getElementById("searchResultsContentsTemplate").innerHTML = '';
           socket.emit("news-api-request", {from: 'Api', resposeTeplateId: 'searchResultsContentsTemplate', loaderId: 'searchResultsContentsLoaderBlock', searchQuery: filterName, filterBy: api, category: 'news_by_filter', scroll: 'vertical'});
       }
    }

    // DQ0KKFk gaja key


    window.webShare = function(title, text, url){
      // console.log("title : ", title);
      //   console.log("=== calling web share function ===");
      //   console.log("title : ", title);
      //   console.log("text : ", text);
      //   console.log("url : ", url);

        if(navigator.share){
            console.log("==== supported web share ====");
            navigator.share({
              title : title,
              text : text,
              url : url,
            }).then((data) => {
                console.log("thanks for sharingthe data.");
                console.log("data : ", data);
            })
            .catch((err) => {
                console.log("error occured when we are sharing the post.");
            })
        }
    }

    socket.on("open-modal-with-content-response", function(data){
        // console.log("==== call open modal with content response ====");
        // console.log("open-modal-with-content-response :: ", data.template);
        if(modalState === 'openModalWithContent'){
            document.getElementById("urlIframe").style.display = "none";
            document.getElementById("modalContent").innerHTML = data.template;
            $("#URLModal").modal();
        }
        modalState = null;
    })
  });
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
function googleTranslateElementInit() {
  console.log("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@");
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  setTimeout(function(){
    // layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
    console.log("%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%");
    document.querySelector(".goog-te-combo").style.width = "90% !important";
    document.querySelector(".goog-te-combo").style.border = "none";
    document.querySelector(".goog-te-combo").style.color = "orange";
    document.querySelector(".goog-te-combo").style.fontWeight = "600";
    document.querySelector(".goog-logo-link").style.display = "none";
    document.querySelector(".goog-te-banner-frame").style.display = "none";
    document.getElementById("goog-gt-tt").style.display = "none !important";
    document.querySelector(".goog-te-gadget").style.color = "white !important";
  }, 700);
}





</script>
</body>
</html>
