
.input {float:right;}
.output{clear:right;}
.input{margin-bottom:8px; border-radius: 10px; padding: 3px 12px 3px 12px;background-color: #4267b2; color: white; max-width: 370px; min-width:100px; text-align: left;margin-right : 5px; border-color:#4267b2; }
.output{margin-top:10px; border-radius: 10px; padding: 10px; background-color: white ; color: #4b4f56; padding-top:3px; padding-left: 15px; margin-left : 5px; border-color: white; padding-bottom: 15px;}
.chat-container{padding:5px;}
.mCSB_draggerRail{width:20px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #e9ebee !important;}
.mCSB_scrollTools .mCSB_draggerRail {background-color: #e9ebee !important;}
.mCSB_inside > .mCSB_container {margin-right: 3px !important;}
/* .container-fluid{overflow-x: hidden;} */

.chat-container{padding-left:0px; padding-right:0px; overflow: auto; height:83vh; border-bottom:2px solid white;}
.query-block{left:0px; right:0px; margin:auto;height:10vh;}

.chat-block{padding-left:2px; padding-right:0px;}
.chat-layout{margin-top:10px;}

.send-div-pad{padding-left: 0px; padding-right:0px;}
.query-div-pad{padding-left: 0px;}
.send-btn{padding: 6px 24px 6px 24px; height:38px; margin-top:2px; background-color: #4267b2;border-color: #4267b2; color:white; outline:none !important; border-radius:7px;}
.send-icon{font-size:15px; transform: rotate(60deg); margin-left: -5px;margin-top: 3px;position: absolute;top: 8px;}
.send-btn-txt{padding-left:25px;}
.body-layout{background-color: #e9ebee; font-family: -apple-system, BlinkMacSystemFont, Roboto, Arial, Helvetica, sans-serif;}
.loader-img{height:20px; width: 20px; float: right; margin-top: -30px; margin-right: 3px;}
.query-div-row{padding-top:3px;}
.query{margin-left:10px; margin-top:0px; margin-left:5px; outline:none; border-radius:10px; height:40px; border: 1px solid #e9ebee; outline:none !important;}

/*  =================== hints scrollable elemnt ========================= */
/* google translator override css */
.goog-te-banner{
  display:none !important;
}
.goog-te-banner-frame{
  display: none !important;
}
.goog-logo-link{
  display:none !important;
}

/* ======================================  */
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  padding-top: 3px;
  color: #4b4f56;
  padding-right: 10px;
}
.hints-block {
    margin-left: -10px;
    border-bottom: 2px solid white;
    /* margin-bottom: -14px; */
}
.hints-item{
  padding: 10px 12px !important; border: 1px solid #e9ebee; margin-right:10px; border-radius: 25px; background-color: white;
}
/* div.scrollmenu a {
  display: inline-block;
  color: #4b4f56;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #4267b2;
  color: white;
} */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #e9ebee; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #e9ebee; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e9ebee;
}

div.scrollmenu {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  /* color: white; */
  /* text-align: center; */
  /* padding: 14px; */
  text-decoration: none;
  vertical-align: top;
}
.ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  /* line-height: 1rem; */
  pointer-events:none;
}

.ellipse:after {
  content:"";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  z-index: 1;
  pointer-events:initial;
}

.ellipse:hover:after{
  cursor: pointer;
  visibility: visible;
}

.tooltip {
  width: 45%;
  visibility: hidden;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 5px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.5s ease;
}


.ellipse:hover + .tooltip {
  visibility: visible;
  transition: opacity 0.5s ease;
  opacity: 1;
}


@media (min-width: 320px) and (max-width: 480px) {
  .ellipse:hover + .tooltip {
    visibility: hidden !important;
  }
  .tooltip {
    visibility: hidden !important;
  }
  .ellipse:hover:after{
    cursor: pointer;
    visibility: hidden !important;;
  }


}


/* ====================================================================== */
